<ion-view view-title="Track Progress">
  <ion-content class="padding">
    <ion-list can-swipe="listCanSwipe">
  	  <ion-item href="#/tab/progress-detail/Happiness">
  	  	<div class="list-primary-label">Happiness</div>
  	  	<div class="list-secondary-label">logged 15 times</div>
  	  </ion-item>

  	  <ion-item ng-click="showMood('Anger')">
  	  	<div class="list-primary-label">Anger</div>
  	  	<div class="list-secondary-label">logged 4 times</div>
  	  </ion-item>

  	  <ion-item ng-click="showMood('Disgust')">
  	  	<div class="list-primary-label">Disgust</div>
  	  	<div class="list-secondary-label">logged 3 times</div>
  	  </ion-item>

  	  <ion-item ng-click="showMood('Fear')">
  	  	<div class="list-primary-label">Fear</div>
  	  	<div class="list-secondary-label">logged 8 times</div>
  	  </ion-item>

  	  <ion-item ng-click="showMood('Sadness')">
  	  	<div class="list-primary-label">Sadness</div>
  	  	<div class="list-secondary-label">logged 10 times</div>
  	  </ion-item>

      <ion-item ng-click="showMood('Surprise')">
        <div class="list-primary-label">Surprise</div>
        <div class="list-secondary-label">logged 2 times</div>
      </ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
