<ion-view view-title="Preferences">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Your Name</span>
        <input type="text" ng-model="preferences.userName">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="preferences.password">
      </label>
      <label class="item item-input">
        <span class="input-label">Help Contact</span>
        <input type="text" ng-model="preferences.helpContact">
      </label>
      <label class="item item-input">
        <h2><span class="input-label">Splash Screen</span></h2>
        <input type="text" ng-model="preferences.splashScreen">
        <img ng-src="{{preferences.splashScreen}}">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Reminder Rate
        </div>
        <select ng-model="preferences.selectedReminderString">
          <option ng-repeat="x in preferences.unselectedReminderStrings">{{x}}</option>
        </select>

      </label>
    </div>
    <button class="button button-outline button-balanced" ng-click="preferences.apply()">
      Apply
    </button>
    <button class="button button-outline button-assertive" ng-click="preferences.deleteAll()">
      Delete All Mood Logs
    </button>
  </ion-content>
</ion-view>
