<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

<!-- Starter code
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="Home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Log Mood Tab -->
  <ion-tab title="Log Mood" href="#/tab/log_mood">
    <ion-nav-view name="tab-log_mood"></ion-nav-view>
  </ion-tab>

  <!-- -->
  <ion-tab title="Find Patterns" href="#/tab/find_patterns">
    <ion-nav-view name="tab-find_patterns"></ion-nav-view>
  </ion-tab>

  <!-- -->
  <ion-tab title="Get Help" href="#/tab/get_help">
    <ion-nav-view name="tab-get_help"></ion-nav-view>
  </ion-tab>

  <!-- -->
  <ion-tab title="Track Progress" href="#/tab/track_progress">
    <ion-nav-view name="tab-track_progress"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Preferences" href="#/tab/preferences">
    <ion-nav-view name="tab-preferences"></ion-nav-view>
  </ion-tab>


</ion-tabs>
