<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-energized">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- View Patterns Tab -->
  <ion-tab title="View Patterns" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/patterns">
    <ion-nav-view name="tab-patterns"></ion-nav-view>
  </ion-tab>

  <!-- Get Help Tab -->
  <ion-tab title="Get Help" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/get-help">
    <ion-nav-view name="tab-get-help"></ion-nav-view>
  </ion-tab>

  <!-- Log Mood Tab -->
 <ion-tab title="Log Mood" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/logmood">
    <ion-nav-view name="logmood"></ion-nav-view>
  </ion-tab>

  <!-- Preferences Tab -->
  <ion-tab title="Application Preferences" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/preferences">
    <ion-nav-view name="tab-preferences"></ion-nav-view>
  </ion-tab>
</ion-tabs>
